#panel-de-tareas {
  display: none;
}
#login {
  display: block;
}
/* CENTRAR CONTENIDO*/
.centrar {
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

/* TAREAS */
.input-tarea {
  border: none !important;
  width: 35% !important;
  padding: 10px;
}
.input-fecha {
  border: none !important;
  width: 15%;
  padding: 10px;
}
.btn-tarea {
  border-radius: 0% !important;
  padding: 8px;
}
/*REGISTRO*/
.cuadro-registro {
  background-color: white;
  width: 60%;
  float: left;
}

.btn-registro {
  border: none;
  width: 94% !important;
  display: inline-block !important;
  padding: 2%;
  margin: 3%;
  color: white;
  background-color: #2b71afc9;
  width: auto;
}

.input-registro {
  width: 100%;
  padding: 2%;
  margin: 3%;
  border: none;
  background-color: rgba(184, 188, 223, 0.233);
  color: rgb(87, 87, 87);
}

.input-registro::placeholder {
  font-size: medium;
  color: rgb(141, 141, 141);
}

/*INICIO SESIÓN*/
.cuadro-login {
  background-color: #2b71afc9;
  width: 40%;
  float: left;
}

.btn-ingreso {
  padding: 15px !important;
  margin-top: 5%;
  margin-bottom: 5.5%;
  margin-right: 4%;
  border: none;
  color: white;
  background-color: #2b71afc9;
  width: auto;
  float: right;
}

.link-control {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: medium;
  margin-top: 7%;
  margin-left: 7%;
  float: left;
}

.input-ingreso {
  width: 100%;
  padding: 3%;
  margin: 4%;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(87, 87, 87);
}

.input-ingreso::placeholder {
  font-size: medium;
  color: rgb(151, 151, 151);
}

/* MENSAJES */
#mensajeValidacion {
  display: none;
  margin-top: 3%;
  padding-bottom: 10%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(89, 162, 68);
  color: white;
  text-align: center;
  position: fixed;
  width: 40%;
  height: 10%;
  margin-left: 30%;
  margin-right: 40%;
}
#eliminar_popup {
  border: transparent;
  background-color: transparent;
  font-size: larger !important;
  color: white;
  outline: none;
}

.tareasGrafica {
  position: relative;
  margin: auto;
  height: 30vh;
  width: 30vw;
}
